{%extends 'base.html'%}
{%block body_block%}
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card text-center">
  <div class="card-header">
    {{jobs.job_title}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> <span>Company</span>:{{jobs.company_name}}</h5>
    <p class="card-text">Location:{{jobs.location}}</p>
      <p class="card-text">Salary:{{jobs.salary}}</p>
      <p class="card-text">Experience:{{jobs.experience}}</p>
  </div>
  <div class="card-footer text-muted">
    <a href="{%url 'emp-applist' jobs.id%}" class="btn btn-outline-success">view application</a>
  </div>
</div>
  </div>

</div>


{%endblock%}