{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div class="card" style="width: 18rem;">
  <img src="{{request.user.employer.logo.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{request.user.employer.company_name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{request.user.email}}</li>
    <li class="list-group-item">{{request.user.employer.location}}</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="{%url 'emp-editprofile' request.user.employer.id%}" class="card-link">Update Profile</a>

  </div>
</div>
    </div>
</div>


{%endblock%}