{%extends 'base.html' %}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <h1>New password</h1>
        <form action="" method="post">
            {%csrf_token%}
            <input type="password" name="pwd1" placeholder="new password ">
            <input type="password" name="pwd2" placeholder="confirm new password">
            <input type="submit" value="reset">
        </form>
    </div>
<!--    <div class="col-4"></div>-->
</div>
{%endblock%}