{%extends 'candbase.html'%}
{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        welcome user {{request.user}}
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {%if messages%}
        {%for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

            {%endif%}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

            {%endif%}
        {%endfor%}


        {%endif%}
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}