{%extends 'candbase.html'%}
{%load static%}
{%block body_block%}
<div class="row">
 <div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card text-center">
  <div class="card-header">
    {{job.job_title}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> <span>Company</span>:{{job.company_name}}</h5>
    <p class="card-text">Location:{{job.location}}</p>
      <p class="card-text">Salary:{{job.salary}}</p>
      <p class="card-text">Experience:{{job.experience}}</p>
      <a href="{%url 'apply-now'%" class="btn btn-success">apply now</a>
  </div>

  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
  </div>

</div>

</div>
{%endblock%}